@import "_style";
.cart{
	margin-bottom:10px;
	width:1210px;
	margin:0 auto;
	h2{
		height: 50px;
		font-size: 12px;
	    width:500px;
		span{
			display: inline-block;
			width: 80px;
		}
	}
	ul{
		height:50px;
		display: flex;
		line-height:50px;
	    background:#ebeaea;
		padding-left:10px;
	
		li{
			flex: 1;
			height: 30px;
			text-align: center;
			&:nth-child(1){
				text-align: left;
			}
			&:nth-child(2){
			   flex:2;
				text-align: center;
			}
			
		}
	}
	ol{
		height:100px;
		display:flex;
		padding-left:10px;
		margin-top:30px;
		li{
			float:left;
			flex:1;
			text-align: center;
			img{
				width: 100px;
				height:80px;
				float: left;
			}
			&:nth-child(2){		
			    flex:2;
				text-align: center;
			}
			input{
				
				&:nth-child(1){
					float: left;
					margin-top: 20px;
				}
				&:nth-child(2){
					width: 20%;
					text-align: center;
				}
			}
		}
	}
}