header{
	#banner{
		width:100%;
		height:80px !important;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.denglu{
		background: #f2f2f2;
		width: 100%;
		height: 30px;
		ul{
			height: 30px;
			width: 1210px;
			margin: 0 auto;			
			li{
				float: left;
				padding-top: 6px;
				&:nth-child(2){
					float:right;
					color:#666;
				}
				span{
					display: inline-block;
					padding:0 10px;
					height: 14px;
				    border-left:1px solid #333;
					color:#666;
					&:nth-child(1){
						    border-left:0;
					}
					select{
						border: 0;
						background: #f2f2f2;
					}
				}
			}
		}
	}
	
	.shousuo{
		width: 1210px;
		margin: 0 auto;	
		height: 110px;
	    ul{
			li{
				float:left;
				img{
					width: 100%;
					height:100%;
				}
				&:nth-child(1){
					width:244px;
					height: 110px;
				}
				&:nth-child(2){
					width:142px;
					height: 80px;
					margin-left: 50px;
				}
				&:nth-child(3){
			       margin:20px 50px 0 50px;
				   width: 343px;
				   position: relative;
				   input{
					   width: 260px;
					   height: 34px;
					   outline: none;
					   border: 2px solid #c69c6d;
				   }
				   p:nth-child(1){
					    span{
							 position: absolute;
							 top:0;
							 right: 0;
							 width: 80px;
							 height: 38px;
							 color: #FAFAFA;
							 background: #C69C6D;
							 font-size: 16px;
							 text-align: center;
							 line-height: 38px;
						 }  
				   }
				   p:nth-child(2){
					   span{
						   display: inline-block;
						   height: 35px;
						   line-height: 35px;
					   }
				   }
				   
				}
				
				&:nth-child(4){
					background: url(../img/overseadef.jpg) no-repeat;
					height: 50px;
					width: 200px;
					margin-top: 30px;
					img{
						width: 100%;
						height: 100%;
					}
				}
			/* 	&:nth-child(4):hover{
					opacity: 0.01;
						background: url(../img/overseahov.jpg) no-repeat;
				} */
			}
		   
		}
		ul>p{
				 width: 90px;
				 height: 25px;
				 border:1px solid #ccc;
				 float: left;
				 margin-left: 10px;
				 margin-top: 20px;
				 padding: 5px;
				 box-shadow: 0 0 2px rgba(0,0,0,.2);
				 position: relative;
				 span{
					 position: absolute;
					 top:8px;
					 right:30px;
					 &:nth-child(2){
						 top:8px;
						 right:45px ;
					 }
				 }
			 }	 
	}
	
	nav{
		width: 100%;
		height: 40px;
		background:url(../img/navi_1pxbg.png);
		ul{
			width:1210px;
			margin: 0 auto;
			li{
				float: left;
				margin: 0 18px;
				position: relative;
				a{
					color: #b28247;
					font-size: 14px;
					line-height: 40px;
				}
				&:first-child{
					
					a{	
						color: #FAFAFA;
						width: 130px;
						height:40px ;
						display: inline-block;
						background:crimson ;
						font-weight: bold;
						text-align: center		
								
					}
				}
				&:last-child{
					span{
						display: inline-block;
						margin-left: 10px;
						width: 30px;
						height: 40px;
						background: url(../img/share02.png) no-repeat;
						&:nth-child(1){
							background-position:-237px -66px ;
						}
						&:nth-child(2){
							background-position:-296px -66px;
						}
						&:nth-child(3){
							background-position:-354px -66px ;
						}
					}
				}
			}
		}
	}
	
	.hide{display:none;}
	
	/* submenu */
	.submenu{
		width:150px;
		position: absolute;
		top:40px;
		left:-20px;
	    display: none;
		z-index: 9999;}
	.submenu h2{
		height:30px;
		line-height:30px;
		 overflow:hidden;
		background:#2595F2;
		color:#fff;
		text-indent:17px;
		font-size:16px;}
	.submenu .submenulist ul{
		padding:0 2px 2px;
	    background:#FAFAFA;
	}
	.submenu .submenulist li{
		position:relative;
		height:36px;
		width: 150px;
		background: #FFFFFF;
		line-height:34px;
		text-indent:15px;
		clear: both;}
	.submenu .submenulist li h3 a{
		position:relative;
		display:inline-block;
		height:34px;
		color:#000000;
		font-size:14px;
		font-weight:400;
		background:#fafafa45;
		z-index:1;	
		width: 100px; 
		float: right;}
	.submenu .submenulist li h3 a.on{
		background: #fff;
		width: 100px;
		height: 32px;
		color: #f60;
		font-weight: 700;
		}
	.submenu .listbox{
		position:absolute;
		top:0;left:150px;
		width:430px;
		background:#fff;
		font-size:12px;}
	
	.submenu .listbox dt{
		font-weight:700;
		margin-bottom:5px;
		float: left;
		color: firebrick;
		font-size:14px;
		}
	.submenu .listbox dd{
		float:left;
		width:160px;
		height:27px;
		line-height:27px;
		
	}
	.submenu .listbox dd a{
		display:inline;
		background:none;
		border:0 none;
		font-size:12px;
		color:#000;}
	.submenu .listbox dd a:hover{color:#f60;}
	.submenu .listbox .hotbrand{
		width:80px;
		border:0 none;
		background:#FFFDF3;}
	
	.submenu .submenulist li h3 span{
		display: inline-block;
		margin-top: 5px;
		width: 20px;
		height: 30px;
		background: url(../img/brand_category1.png) 15px no-repeat;
		background-position: -20px -5px;
	}
	.submenu .submenulist .listbox{
		 width: 800px;
		}
		.submenu .submenulist .listbox .procate{
			height: 80px;
		    border-bottom: 1px solid #AFAFAF;
		}
	.submenu .submenulist li:nth-child(2) h3 span{
		background: url(../img/brand_category1.png) 15px no-repeat;
		background-position: -20px -40px;
	}
	.submenu .submenulist li:nth-child(3) h3 span{
		background: url(../img/brand_category1.png) 15px no-repeat;
		background-position: -20px -71px;
	}
	.submenu .submenulist ul li:last-child h3 span{
		margin-left: 0;
		margin-top:7px ;
		background-position:-20px -171px;
	}
	
	
	
	
	
	
	
	
	
	
}